



<div class="card-group">
        <div class="card">
          
          <div class="card-body">
                <div class="form">
                        <h4>Counter Ticket Cancellation</h4>
                        <i class="fa fa-sort-numeric-up-alt"></i>  &nbsp;&nbsp;<input type="number" class="jsp" name="pnr" placeholder="PNR number"/><br><br>
                
            
                <i class="fa fa-subway"></i>&nbsp;&nbsp;<input type="text" class="jsp"  name="train" placeholder=" Train Number"/><br><br>
                


                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I have read cancellation/boarding point change procedure and its rule.</label>
                      </div>
            <br><br>
            
                    <button type="button" class="btn btn-primary">Submit</button>
            
            </div>

           </div>
        </div>
        <div class="card">

            <h5>Sample Ticket</h5>
          <img src="./../assets/images/cancel.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           
          </div>
        </div>
        <div class="card">
          <img src="./../assets/images/cancel3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
        
          </div>
        </div>
      </div>



      <div class="footer">

  <footer> &copy;copy right 2019</footer>	


  <p>There are 9 types of passenger trains, namely Gatiman Express, Rajdhani Express, Shatabdi/Janshatabdi Express, Duranto Express, Yuva /Garibrath Express, AC Express, Superfast, Mail/Express, Passengers/MEMU/DEMU. In 2015-16, an average of 13,313 passenger trains ran daily, carrying an estimated 22 million passengers a day and covering over 7,000 stations.Centre For Railway Information Systems, Designed and Hosted by CRIS
  </p>


</div>