<body>
  
  

  <div class="form">
    <h2>IRCTC Hotels</h2>
      Destination:&nbsp;&nbsp;<input type="text" class="jsp"  name="train" placeholder="Destination"/><br><br>
      CheckIn: &nbsp;&nbsp;<input type="date" class="jsp" name="date" placeholder="CheckIn Date"/><br><br>
      CheckOut :&nbsp;&nbsp;<input type="date" class="jsp" name="date" placeholder="CheckIn Out"/><br><br>
  
      &nbsp;&nbsp; <select   id="drop">
            <option selected>Please Select</option>
            <option value="RoomGuest">RoomGuest</option>
            <option value=" Adult">Adult</option>
            <option value="children">children</option>
            <option value="Room">Room</option>
          </select><br><br>
  
          <button type="button" class="btn btn-primary">Submit</button>
  
  </div>

<div class="footer">

  <footer> &copy;copy right 2019</footer>	


  <p>There are 9 types of passenger trains, namely Gatiman Express, Rajdhani Express, Shatabdi/Janshatabdi Express, Duranto Express, Yuva /Garibrath Express, AC Express, Superfast, Mail/Express, Passengers/MEMU/DEMU. In 2015-16, an average of 13,313 passenger trains ran daily, carrying an estimated 22 million passengers a day and covering over 7,000 stations.Centre For Railway Information Systems, Designed and Hosted by CRIS
  </p>


</div>


  </body>